<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856757854744-1qaa8ode31agqc2t8po0p6f7m75h386s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856757854744-1qaa8ode31agqc2t8po0p6f7m75h386s</string>
	<key>API_KEY</key>
	<string>AIzaSyBz3GSzyzZRtL9NWf8xvjPh_kSuOk171mo</string>
	<key>GCM_SENDER_ID</key>
	<string>856757854744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bayarm</string>
	<key>PROJECT_ID</key>
	<string>bayarm</string>
	<key>STORAGE_BUCKET</key>
	<string>bayarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856757854744:ios:eb2e6fd6ee94b976f0596d</string>
</dict>
</plist>